$black : black;
$white : white;
$color : #ea6423;

$z__top : 1;
$z__bottom : -1;

@import url('https://fonts.googleapis.com/css2?family=Lexend');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond');
@font-face {
    font-family: blop;
    src: url(/assets/fonts/Blop.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: 'Garamond', serif;
    background-color: $white;
}

ol,
ul {
    list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: $black;
}

.background {
    &--white {
        background-color: $white;
    }

    &--black {
        background-color: $black;
    }
}

.text {
    &--white{
        color: $white;
    }
}

.text {
    &--italic {
        font-style: italic;
    }

    &--regular {
        font-weight: normal;
    }

    &--bold {
        font-weight: bold;
    }
}