#home__text--interaction {
    padding: 1vh;
    padding-top: 10vh;
    left: 0;
    line-height: 11.2vw;
    overflow: hidden;
    margin: auto;
    font-weight: 800;
    font-family: blop;
    letter-spacing: 3em;
    line-height: 17vw;
    width: 97%;
    position: relative;
    overflow: visible;
    user-select: none;

    span:first-of-type {
        font-size: 37vw;
    }

    span:last-of-type {
        font-size: 37vw;
    }
}

.home__effects--top {
    width: 120vw;
    height: 240vw;
    position: absolute;
    filter: saturate(0);
    top: 0;
    user-select: none;
}

.home__effects--bottom {
    width: 100vw;
    height: 200vw;
    position: absolute;
    filter: saturate(0);
    top: 0;
    user-select: none;
}