#home__text {
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: visible;
    height: 100vh;
    padding-top: $headerHeight;
    background-image: url('../../assets/effects/index_background.svg');
    background-size: cover;
    background-position-y: 0px;

    &--interaction {
        display: block;
        margin: auto;
        width: 97%;
        overflow: visible;
        user-select: none;

        div{
            display: flex;
            justify-content: center;
            overflow: visible;
            margin-top: 8px;

            div{
                display: inline-block;
                width: 144px;
                height: 231px;
                //margin: -24px;
                background-image: url("../../assets/spritesheet/spriteSheet_02.png");

                &:hover{
                    filter: invert(49%) sepia(64%) saturate(2439%) hue-rotate(346deg) brightness(94%) contrast(95%);
                    cursor: pointer;
                }
            }
        }
    }
}