#home__text {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: visible;

    &--interaction {
        margin: auto;
        width: 97%;
        overflow: visible;
        user-select: none;

        div{
            display: flex;
            justify-content: center;
            overflow: visible;
            margin-top: 8px;

            div{
                display: inline-block;
                width: 288px;
                height: 462px;
                margin: -24px;
                background-image: url("/assets/spritesheet/spriteSheet_03.png");

                &:hover{
                    filter: invert(49%) sepia(64%) saturate(2439%) hue-rotate(346deg) brightness(94%) contrast(95%);
                    cursor: pointer;
                }
            }
        }
    }
}