nav {
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: $z__top;
    overflow: hidden;
    font-family: 'lexend';

    #nav__blob {
        position: relative;
        height: calc($headerHeight/2);
        width: calc($headerHeight/2);
        top: 0;
        transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1) 0.3s;
        opacity: 1;
        overflow: visible;
        display: flex;
        text-align: center;
        justify-content: center;
        z-index: -1;

        svg {
            width: 110%;
            height: 110%;
        }
    }

    ul {
        position: absolute;
        top: $headerHeight/3;
        transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1) 0.3s;
        line-height: 150%;
        transform: scale(90%);
        opacity: 0;

        li {
            border: 1px solid rgba(0, 0, 0, 0);
            width: max-content;
            display: inline;
            margin-right: 4em;
            font-size: 1.5em;
            overflow: visible;

            &:last-child {
                margin-right: 0;
            }
            a{
                color: white !important;
            }
        }

        #nav__option--selected {
            transform-origin: center;
            transform: scale(200%);
            font-weight: 900;
            font-size: 1.8em;
        }
    }

    &:hover {
        #nav__blob {
            position: relative;
            border-radius: 50%;
            /* top: -$headerHeight/2; */
            /* opacity: 0; */
            width: 100vw;
            height: 100vw;
            transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1) 0s;
        }
    
        ul {
            transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);
            transform: scale(100%);
            opacity: 1;
    
        }

        a:hover{
            color: $color !important;
        }
    }
}